h1 {
    text-align: center;
    font-weight: bold;
    color: var(--primary);
}

.postContainer {
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 5%;
    margin: auto;
    padding-left: 2em;
    padding-bottom: 1em;
    border: 1px solid black;
    width: 35em;

}

.profilePost{
    margin: auto;
    margin-bottom: .5em;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--primary);
    border-radius: 10px;
    width: 35em;
    background-color: rgb(255, 255, 255, .2);
    color: var(--primary);
}

span {
    margin: .5em;
    font-size: .8em;
    
}

.profilePost a {
    text-decoration: none;
    color: var(--secondary-dark);
}

.profilePost a:hover {
    color: var(--secondary-darker);
}
.z-depth:hover {
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);

}
.likes{
    margin-left:auto;
    
 
}
.title{
  
    margin:0 auto;
    padding:0;
}
h3{
    
margin-top:0;
}
p{
    margin-top:5px;

}

.search{
    width:20em;
    margin:0 auto;
    padding-bottom: 1em;
    

}