<h1>Welcome, Adventurers!</h1>
<!-- <div>
  <div class="postContainer" *ngFor="let post of posts">
    <h2>{{post.title}}</h2>
    <span>{{post.tag}}</span>
  </div>
</div> -->

<div  *ngIf="posts !== []; else noposts">
    <div *ngFor="let post of posts" class="profPostList">
        <div class="profilePost">
            <h2>{{post.title}}</h2>
            <span *ngFor="let tag of post.tags">#{{tag}} </span>
            <br> <br>
            <!-- <a (click)="showPost(post)">View Post</a> -->
            <a routerLink="/splash/post/{{post.id}}">View Post</a>
        </div>
    </div>
</div>

<ng-template #noposts>No posts have been made yet</ng-template>
