<h1>Welcome, Adventurers!</h1>

<div class="search">
    <input type="search" placeholder="search by title" #searchValue/>
    <button mat-button (click)="searchPosts()" class="button">Search</button>
    <button mat-button (click)="getAllPosts()" class="button">Refresh</button>
</div>



<div  *ngIf="posts !== null || undefined; else noposts">
    <div *ngFor="let post of posts" class="profPostList">
        <div class="profilePost">
          <mat-card class="z-depth">
            <mat-card-header >
              <mat-card-title>{{post.userName}} - {{post.createdAt.substring(5,10)}}</mat-card-title>
              <div class="title">
                <h3>{{post.title}} </h3>
              </div>
              
              <div class="likes">
                <img src="../../../assets/likes.png" width="32px" >
                <p *ngIf="post.likes == null || undefined" style='float: right;'>0</p>
                <p *ngIf="post.likes != null || undefined" style='float: right;'>{{post.likes}}</p>
              </div>
            </mat-card-header>
              <mat-card-content>
                <span *ngFor="let tag of post.tags">#{{tag}} </span>
              </mat-card-content>
              <!-- <a (click)="showPost(post)">View Post</a> -->
              
              <a routerLink="/splash/post/{{post.id}}">View Post</a>
           
          </mat-card>  
        </div>
    </div>
</div>

<ng-template #noposts>No posts have been made yet</ng-template>
