<form>
    <h1>Edit Profile</h1>
    <h2>Username</h2>
    <form>
        <input matInput value="{{userName}}" name="userName" [(ngModel)]="userName">
    </form>
    <h2>Profile</h2>
    <form>
        <textarea matInput value="{{bio}}" name="bio" [(ngModel)]="bio"></textarea>    
    </form>
    
    
    <br><br>
    <button id="submit-btn" type="submit" (click)="onSubmit()">Submit Changes</button>
    <br>
    <button id="del-btn" *ngIf="userId != 1" (click)="delete()">Delete Account</button>
</form>
