#topNav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--tertiary);
  background-image: url('../../../../assets/old-map.png');
  font-size: 1.2em;
}

button {
  font-size: 1.2em;
  padding-top: .5em;
  padding-bottom: .5em;
  color: var(--primary-dark)
}

button:hover {
  background-color: var(--tertiary-dark);
  color: var(--primary-darker)
}

#loginButton{
  justify-self: end;
}

#logout {
  text-align: right !important;
}

.title {
  font-weight: bolder !important;
}

.log {
  font-weight: bold !important
}

@media screen and (max-width: 769px) {
  #topNav {
    font-size: 1em;
  }
}

@media screen and (max-width: 520px) {
  #topNav {
    font-size: .8em;
  }
}

@media screen and (max-width: 412px){
  #topNav {
    font-size: .6em;
  }
}

@media screen and (max-width: 300px){
  #topNav {
    font-size: .4em;
  }
}