/* #bigContainer{
    width:100%;
    height: 700px;
} */

/* #loginButton{
    justify-self: end;
} */
  
/* #topNav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

/* .example-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
} */
  
/* .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw !important;
    min-width: 130px;
} */
    
/* #buttonGroup2{
    position: absolute;
    bottom: 0;
} */

/* .hamburger {
    z-index:0;
} */

/* .container {
    display: inline-flex;
    width:100%;
    height: 100%;
    min-height: 100vh;
} */

#contentWindow {

    min-height: 35vh;
}

footer {
    margin-top: 56vh;
    background-color: var(--tertiary);
    background-image: url('../assets/old-map.png');
    text-align: center;
    padding: 1em;
}