<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
      [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top">
      <div id="buttonWrapper">
      <button mat-button id="campaignButton" (click)="openDialog('campaign')">+ Campaign</button>
      <button mat-button id="storyButton"  (click)="openDialog('story')">+ Short Story</button>
      <button mat-button id="creatureButton"  (click)="openDialog('creature')">+ Creature</button>
      <button mat-button id="savedButton">Saved Posts</button>
      <br />
    </div>

      <div id="buttonGroup2">
            <button mat-button>Settings   <img src="../../../../assets/settings.png" width="15px" height="15px"></button>
            <button mat-button (click)="logMeOut()">Logout</button>

      </div>
    </mat-sidenav>
    
  
    <mat-sidenav-content class="hamburger" [formGroup]="options">
      <mat-toolbar>
        <button type="button" aria-label="sidenav toggle" mat-icon-button (click)="sidenav.toggle()"><mat-icon>
          <img src="../../../../assets/menu.png" width="20em" height="20em"> </mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
      
      <footer>
        <p>{{title}} &copy; Patrick Bassett, Brian Doan, and Molly Hopper</p>
      </footer>
    </mat-sidenav-content>

  </mat-sidenav-container>
  
  