<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
      [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top">
      <div id="buttonWrapper">
      <button mat-button id="campaignButton">+ Campaign</button>
  
      <button mat-button id="storyButton">+ Short Story</button>
      <button mat-button id="creatureButton">+ Creature</button>
      <button mat-button id="savedButton">Saved Posts</button>
      <button mat-button id="profileButton" routerLink="/profile">Profile</button>
    </div>

      <div id="buttonGroup2">
            <button mat-button>Settings   <img src="../../../../assets/settings.png" width="15px" height="15px"></button>
      </div>
    </mat-sidenav>
    
    <mat-sidenav-content class="hamburger" [formGroup]="options">
      <button mat-button (click)="sidenav.toggle()"><img src="../../../../assets/menu.png" width="20px" height="5%"></button>
      
      <button mat-button *ngIf="!explore" (click)="explore = true">Profile</button>
      <button mat-button *ngIf="explore" (click)="explore = false">Explore</button>
      <div *ngIf="explore; else profile">
        <app-profile></app-profile>
      </div>
      <ng-template #profile>
        <div>
          <app-explore></app-explore>
        </div>
      </ng-template>
    </mat-sidenav-content>
    
    
  </mat-sidenav-container>
  