#profile {
    padding: 1em;
    /* margin-right: 10em; */
    text-align: center;
    color: var(--primary)
}

button {
    background-color: var(--tertiary);
    color: var(--primary);
}

button:hover {
    background-color: var(--tertiary-dark);
    color: var(--primary-dark)
}

.profilePost {
    /* float: center; */
    margin: auto;
    margin-bottom: .5em !important;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--primary);
    border-radius: 10px;
    width: 35em;
    background-color: rgb(255, 255, 255, .2);
    color: var(--primary)
}

span {
    margin: .5em;
    font-size: .8em;
}

.profilePost a {
    text-decoration: none;
    color: var(--secondary-dark);
}

.profilePost a:hover {
    color: var(--secondary-darker);
}

.division {
    width: 60%;
    /* float: left; */
}

#profilePic {
    height: 100px;
    border-radius: 100px;
}

@media screen and (max-width: 769px) {
    .profPostList {
        margin: auto;
        width: 90%;
    }

    .profilePost {
        margin: auto;
        width: 90%;
    }
}
